/* Soroborno Font: Mukti (mukti) */

/* License: GNU GPL3+© Mukta Bangla Font Project, Dr Anirban Mitra 2002-2022 */


@font-face {
  font-family: 'Mukti';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./mukti-500-normal.woff2') format('woff2'),
       url('./mukti-v3.4.3.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukti';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./mukti-700-italic.woff2') format('woff2'),
       url('./muktibi-v3.4.3.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukti';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./mukti-700-normal.woff2') format('woff2'),
       url('./muktibold-v3.4.3.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukti';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./mukti-500-italic.woff2') format('woff2'),
       url('./muktiita-v3.4.3.ttf') format('truetype');
}


.font-mukti {
  font-family: 'Mukti', sans-serif;
}

:root {
  --font-mukti: 'Mukti', sans-serif;
}
