/* Soroborno Font: Siyam Rupali (siyam-rupali) */

/* License: GNU GPL */


@font-face {
  font-family: 'Siyam Rupali';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./siyam-rupali-400-normal.woff2') format('woff2'),
       url('./siyam-rupali-v1.070.ttf') format('truetype');
}


.font-siyam-rupali {
  font-family: 'Siyam Rupali', sans-serif;
}

:root {
  --font-siyam-rupali: 'Siyam Rupali', sans-serif;
}
