/* Soroborno Font: Kalpurush-v0.258 (kalpurush) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'Kalpurush-v0.258';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./kalpurush-400-normal.woff2') format('woff2'),
       url('./Kalpurush-v0.258.ttf') format('truetype');
}


.font-kalpurush {
  font-family: 'Kalpurush-v0.258', sans-serif;
}

:root {
  --font-kalpurush: 'Kalpurush-v0.258', sans-serif;
}
