/* Soroborno Font: Bangla (bangla) */

/* License: GNU GPL */


@font-face {
  font-family: 'Bangla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./bangla-500-normal.woff2') format('woff2'),
       url('./bangla.ttf') format('truetype');
}


.font-bangla {
  font-family: 'Bangla', sans-serif;
}

:root {
  --font-bangla: 'Bangla', sans-serif;
}
