/* Soroborno Font: bangla (bangla) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'bangla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./bangla-500-normal.woff2') format('woff2'),
       url('./bangla.ttf') format('truetype');
}


.font-bangla {
  font-family: 'bangla', sans-serif;
}

:root {
  --font-bangla: 'bangla', sans-serif;
}
