/* Soroborno Font: baloo-da-2 (baloo-da-2) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'baloo-da-2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./baloo-da-2-400-normal.woff2') format('woff2'),
       url('./baloo-da-2.ttf') format('truetype');
}


.font-baloo-da-2 {
  font-family: 'baloo-da-2', sans-serif;
}

:root {
  --font-baloo-da-2: 'baloo-da-2', sans-serif;
}
