/* Soroborno Font: adorsho-lipi-v1.0 (adorsho-lipi) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'adorsho-lipi-v1.0';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./adorsho-lipi-400-normal.woff2') format('woff2'),
       url('./adorsho-lipi-v1.0.ttf') format('truetype');
}


.font-adorsho-lipi {
  font-family: 'adorsho-lipi-v1.0', sans-serif;
}

:root {
  --font-adorsho-lipi: 'adorsho-lipi-v1.0', sans-serif;
}
