/* Soroborno Font: siyam-rupali-v1.070 (siyam-rupali) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'siyam-rupali-v1.070';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./siyam-rupali-400-normal.woff2') format('woff2'),
       url('./siyam-rupali-v1.070.ttf') format('truetype');
}


.font-siyam-rupali {
  font-family: 'siyam-rupali-v1.070', sans-serif;
}

:root {
  --font-siyam-rupali: 'siyam-rupali-v1.070', sans-serif;
}
