/* Soroborno Font: bensen-handwriting-v1.0 (bensen-handwriting) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'bensen-handwriting-v1.0';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./bensen-handwriting-400-normal.woff2') format('woff2'),
       url('./bensen-handwriting-v1.0.ttf') format('truetype');
}


.font-bensen-handwriting {
  font-family: 'bensen-handwriting-v1.0', sans-serif;
}

:root {
  --font-bensen-handwriting: 'bensen-handwriting-v1.0', sans-serif;
}
