/* Soroborno Font: bensen-v1.0 (bensen) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'bensen-v1.0';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./bensen-400-normal.woff2') format('woff2'),
       url('./bensen-v1.0.ttf') format('truetype');
}


.font-bensen {
  font-family: 'bensen-v1.0', sans-serif;
}

:root {
  --font-bensen: 'bensen-v1.0', sans-serif;
}
