/* Soroborno Font: FN Masud Chowa Bijoy2003 (fn-masud-chowa) */

/* License: This Font Software is copyrighted property of FontBD Type Foundry under domestic and international trademark and copyright laws. You cannot Modify, Distribute, Edit, Forge or Sell this Font Software, it will be considered illegal & punishable crime in the court of law. You have to give proper credit to the owner of the Font Software- FontBD Type Foundry in your design/product detail and accept our terms & conditions. */


@font-face {
  font-family: 'FN Masud Chowa Bijoy2003';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fn-masud-chowa-400-italic.woff2') format('woff2'),
       url('./FN Masud Chowa Bijoy 2003 Italic.otf') format('opentype');
}

@font-face {
  font-family: 'FN Masud Chowa Bijoy2003';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fn-masud-chowa-400-normal.woff2') format('woff2'),
       url('./FN Masud Chowa Bijoy 2003.otf') format('opentype');
}

@font-face {
  font-family: 'FN Masud Chowa Bijoy2003';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fn-masud-chowa-400-italic.woff2') format('woff2'),
       url('./FN Masud Chowa Bijoy 52 Italic.otf') format('opentype');
}

@font-face {
  font-family: 'FN Masud Chowa Bijoy2003';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fn-masud-chowa-400-normal.woff2') format('woff2'),
       url('./FN Masud Chowa Bijoy 52.otf') format('opentype');
}

@font-face {
  font-family: 'FN Masud Chowa Bijoy2003';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fn-masud-chowa-400-italic.woff2') format('woff2'),
       url('./FN Masud Chowa Uni&BE Italic.otf') format('opentype');
}

@font-face {
  font-family: 'FN Masud Chowa Bijoy2003';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fn-masud-chowa-400-normal.woff2') format('woff2'),
       url('./FN Masud Chowa Uni&BE.otf') format('opentype');
}


.font-fn-masud-chowa {
  font-family: 'FN Masud Chowa Bijoy2003', sans-serif;
}

:root {
  --font-fn-masud-chowa: 'FN Masud Chowa Bijoy2003', sans-serif;
}
