/* Soroborno Font: Bornomala Vintage (bornomala-vintage) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'Bornomala Vintage';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./bornomala-vintage-400-normal.woff2') format('woff2'),
       url('./BornomalaVintage.ttf') format('truetype');
}


.font-bornomala-vintage {
  font-family: 'Bornomala Vintage', sans-serif;
}

:root {
  --font-bornomala-vintage: 'Bornomala Vintage', sans-serif;
}
