/* Soroborno Font: solaimanlipi-bold-v1.0 (solaiman-lipi) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'solaimanlipi-bold-v1.0';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./solaiman-lipi-700-normal.woff2') format('woff2'),
       url('./solaimanlipi-bold-v1.0.ttf') format('truetype');
}

@font-face {
  font-family: 'solaimanlipi-bold-v1.0';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./solaiman-lipi-400-normal.woff2') format('woff2'),
       url('./solaimanlipi-normal-v1.0.ttf') format('truetype');
}

@font-face {
  font-family: 'solaimanlipi-bold-v1.0';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./solaiman-lipi-100-normal.woff2') format('woff2'),
       url('./solaimanlipi-thin-v1.0.ttf') format('truetype');
}


.font-solaiman-lipi {
  font-family: 'solaimanlipi-bold-v1.0', sans-serif;
}

:root {
  --font-solaiman-lipi: 'solaimanlipi-bold-v1.0', sans-serif;
}
