/* Soroborno Font: charu-chandan-3d-v1.10 (charu-chandan-3d) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'charu-chandan-3d-v1.10';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./charu-chandan-3d-400-normal.woff2') format('woff2'),
       url('./charu-chandan-3d-v1.10.ttf') format('truetype');
}


.font-charu-chandan-3d {
  font-family: 'charu-chandan-3d-v1.10', sans-serif;
}

:root {
  --font-charu-chandan-3d: 'charu-chandan-3d-v1.10', sans-serif;
}
