/* Soroborno Font: lohit-bengali-v2.5.1 (lohit-bengali) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'lohit-bengali-v2.5.1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./lohit-bengali-400-normal.woff2') format('woff2'),
       url('./lohit-bengali-v2.5.1.ttf') format('truetype');
}


.font-lohit-bengali {
  font-family: 'lohit-bengali-v2.5.1', sans-serif;
}

:root {
  --font-lohit-bengali: 'lohit-bengali-v2.5.1', sans-serif;
}
