/* Soroborno Font: Nirlipta ANSI (nirlipta-lite) */

/* License: https://www.bengalfonts.com/EULA */


@font-face {
  font-family: 'Nirlipta ANSI';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./nirlipta-lite-400-italic.woff2') format('woff2'),
       url('./Nirlipta-ANSI-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nirlipta ANSI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./nirlipta-lite-400-normal.woff2') format('woff2'),
       url('./Nirlipta-ANSI-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nirlipta ANSI';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./nirlipta-lite-400-italic.woff2') format('woff2'),
       url('./Nirlipta-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nirlipta ANSI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./nirlipta-lite-400-normal.woff2') format('woff2'),
       url('./Nirlipta-Regular.ttf') format('truetype');
}


.font-nirlipta-lite {
  font-family: 'Nirlipta ANSI', sans-serif;
}

:root {
  --font-nirlipta-lite: 'Nirlipta ANSI', sans-serif;
}
