/* Soroborno Font: Charu Chandan Hard Stroke (charu-chandan-hard-stroke) */

/* License: Copyright © 2016 by Chandan Acharja. All rights reserved.

Typography & Develop by Chandan Acharja,
Department of Graphic Design, Faculty of Fine Arts, University of Dhaka.
Web: www.charuchandan.com
Email: chandan0112@gmail.com
Cell: +8801956834106, +8801704580102 */


@font-face {
  font-family: 'Charu Chandan Hard Stroke';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./charu-chandan-hard-stroke-400-normal.woff2') format('woff2'),
       url('./charu-chandan-hard-stroke-v2.0.ttf') format('truetype');
}


.font-charu-chandan-hard-stroke {
  font-family: 'Charu Chandan Hard Stroke', sans-serif;
}

:root {
  --font-charu-chandan-hard-stroke: 'Charu Chandan Hard Stroke', sans-serif;
}
