/* Soroborno Font: charu-chandan-hard-stroke-v2.0 (charu-chandan-hard-stroke) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'charu-chandan-hard-stroke-v2.0';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./charu-chandan-hard-stroke-400-normal.woff2') format('woff2'),
       url('./charu-chandan-hard-stroke-v2.0.ttf') format('truetype');
}


.font-charu-chandan-hard-stroke {
  font-family: 'charu-chandan-hard-stroke-v2.0', sans-serif;
}

:root {
  --font-charu-chandan-hard-stroke: 'charu-chandan-hard-stroke-v2.0', sans-serif;
}
