/* Soroborno Font: vrinda (vrinda) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'vrinda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vrinda-400-normal.woff2') format('woff2'),
       url('./vrinda.ttf') format('truetype');
}


.font-vrinda {
  font-family: 'vrinda', sans-serif;
}

:root {
  --font-vrinda: 'vrinda', sans-serif;
}
