/* Soroborno Font: Vrinda (vrinda) */

/* License: This font software is part of the Microsoft software product in which it was included and is provided under the end user license agreement (“EULA”) for that Microsoft software product. The terms and conditions of the EULA govern the use of font software. Please refer to the applicable Microsoft product EULA if you have any questions about how you may use this font software. Microsoft reserves all rights that are not expressly granted in the EULA. For products that may have installed this font please see the link below. */


@font-face {
  font-family: 'Vrinda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vrinda-400-normal.woff2') format('woff2'),
       url('./vrinda.ttf') format('truetype');
}


.font-vrinda {
  font-family: 'Vrinda', sans-serif;
}

:root {
  --font-vrinda: 'Vrinda', sans-serif;
}
