/* Soroborno Font: charu-chandan-v2.20 (charu-chandan) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'charu-chandan-v2.20';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./charu-chandan-400-normal.woff2') format('woff2'),
       url('./charu-chandan-v2.20.ttf') format('truetype');
}


.font-charu-chandan {
  font-family: 'charu-chandan-v2.20', sans-serif;
}

:root {
  --font-charu-chandan: 'charu-chandan-v2.20', sans-serif;
}
