/* Soroborno Font: AponaLohit (apona-lohit) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'AponaLohit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./apona-lohit-400-normal.woff2') format('woff2'),
       url('./apona-lohit-v1.01.ttf') format('truetype');
}


.font-apona-lohit {
  font-family: 'AponaLohit', sans-serif;
}

:root {
  --font-apona-lohit: 'AponaLohit', sans-serif;
}
