/* Soroborno Font: Charukola Ultra Light Unicode (charukola-ultra-light) */

/* License: Copyright ©2016 by Chandan Acharja. All rights reserved.

Typography & Develop by Chandan Acharja,
Department of Graphic Design, Faculty of Fine Arts,
University of Dhaka.
Web : www.charuchandan.com
Email : chandan0112@gmail.com
Mobile +8801704580102
+8801956834106 */


@font-face {
  font-family: 'Charukola Ultra Light Unicode';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./charukola-ultra-light-200-normal.woff2') format('woff2'),
       url('./charukola-ultra-light-v1.20.ttf') format('truetype');
}


.font-charukola-ultra-light {
  font-family: 'Charukola Ultra Light Unicode', sans-serif;
}

:root {
  --font-charukola-ultra-light: 'Charukola Ultra Light Unicode', sans-serif;
}
