/* Soroborno Font: charukola-ultra-light-v1.20 (charukola-ultra-light) */

/* License: SIL OFL 1.1 */


@font-face {
  font-family: 'charukola-ultra-light-v1.20';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./charukola-ultra-light-200-normal.woff2') format('woff2'),
       url('./charukola-ultra-light-v1.20.ttf') format('truetype');
}


.font-charukola-ultra-light {
  font-family: 'charukola-ultra-light-v1.20', sans-serif;
}

:root {
  --font-charukola-ultra-light: 'charukola-ultra-light-v1.20', sans-serif;
}
